{% extends 'base_homepage.html' %}

{% block title %}Flix 🏴‍☠️ - Movies{% endblock %}

{% block content_type %}movies{% endblock %}
{% block content_type_aria %}movies{% endblock %}

{% block content_rows %}
    {% for movie_list in movie_lists %}
        <div class="content-row">
            <div class="row-header">
                <h2 class="row-title">{{ movie_list.title }}</h2>
                <a href="#" class="see-all">See All</a>
            </div>
            <div class="content-slider">
                {% for movie in movie_list.movies %}
                    <div class="content-card" onclick="window.location.href='/{{ movie.tmdb_id }}'">
                        <img class="content-poster" src="https://image.tmdb.org/t/p/w200{{ movie.poster_path|default:'' }}" alt="{{ movie.title }}">
                        <div class="content-info">
                            <div class="content-title">{{ movie.title }}</div>
                            <div class="content-genre">{{ movie.mediatype }}</div>
                        </div>
                        <div class="rating">{{ movie.vote_average|floatformat:1 }}</div>
                    </div>
                {% endfor %}
            </div>
            <button class="slider-control left" onclick="slide(this, -1)">❮</button>
            <button class="slider-control right" onclick="slide(this, 1)">❯</button>
        </div>
    {% endfor %}
{% endblock %}
