<nav class="navbar">
    <div class="logo">Flix 🏴‍☠️</div>
    <div class="nav-links">
        <a href="{% url 'homepage' %}" class="nav-link">Movies</a>
        <a href="{% url 'tv_show_homepage' %}" class="nav-link">TV Shows</a>
        <a href="{% url 'watch_history' %}" class="nav-link">Watch History</a>
    </div>
    <div class="user-profile">
        {% if user.is_authenticated %}
            <span>Hi, {{ user.username }}</span>
            <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
        {% else %}
            <a href="{% url 'account_login' %}" class="nav-link">Login</a>
            <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
        {% endif %}
    </div>
</nav>
