myproject_env/
torrent_libs/
.vscode/
.idea/
.DS_Store
.vscode/
.idea/
.DS_Store
*__pycache__/
*.srt
*.vtt
*.srt
*.vtt
*.csv
*__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*.parquet
*.txt
*.srt
*.mp4
*.mkv
*.mp3
*.aac
*.a3c
*.ac3
torrent_indexer/db.sqlite3
